@page
@model RazorPagesDentalPro.Pages.Pacients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pacient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pacient.Medic" class="control-label"></label><br />
                @*<input asp-for="Pacient.Medic" class="form-control" />*@
            <!--<select asp-for="ChosenDentist" asp-items="Model.DentistsToSelect">-->
           <select asp-for="Pacient.Medic" asp-items="Model.DentistsToSelect">
                <option value="">All</option>
            </select>
                <span asp-validation-for="Pacient.Medic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Nume" class="control-label"></label>
                <input asp-for="Pacient.Nume" class="form-control" />
                <span asp-validation-for="Pacient.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Prenume" class="control-label"></label>
                <input asp-for="Pacient.Prenume" class="form-control" />
                <span asp-validation-for="Pacient.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.NumarFisa" class="control-label"></label>
                <input asp-for="Pacient.NumarFisa" class="form-control" />
                <span asp-validation-for="Pacient.NumarFisa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.SerieCi" class="control-label"></label>
                <input asp-for="Pacient.SerieCi" class="form-control" />
                <span asp-validation-for="Pacient.SerieCi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.NumarCi" class="control-label"></label>
                <input asp-for="Pacient.NumarCi" class="form-control" />
                <span asp-validation-for="Pacient.NumarCi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Cnp" class="control-label"></label>
                <input asp-for="Pacient.Cnp" class="form-control" />
                <span asp-validation-for="Pacient.Cnp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Telefon" class="control-label"></label>
                <input asp-for="Pacient.Telefon" class="form-control" />
                <span asp-validation-for="Pacient.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pacient.Observatii" class="control-label"></label>
                <input asp-for="Pacient.Observatii" class="form-control" />
                <span asp-validation-for="Pacient.Observatii" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
